div {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  line-height: 1.1;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 12rem;
  text-transform: uppercase;
}
