<div class="content__title">
  <h1>Content template!</h1>
</div>
<div>
  <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
    mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
    mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
</div>
<div class="content__button">
  <button routerLink="">Voltar</button>
</div>
