.bottom-cards {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 50px 50px;
  margin: 50px -50px 0;
}

@media (max-width: 425px) {
  .articles {
    flex-direction: column;
  }

  .articles div {
    max-width: 100%;
  }

  .bottom-cards {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    gap: 2rem;
  }
}
