<div>
  <app-menu-title></app-menu-title>
</div>

<div class="articles">
  <div class="articles__main">
    <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
      mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
      mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
  </div>
  <div class="articles__others">
    <app-card cardImage="../../../assets/image-placeholder.jpg" cardDate="January 11, 2002"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"></app-card>
    <app-card cardImage="../../../assets/image-placeholder.jpg" cardDate="January 11, 2002"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"></app-card>
    <app-card cardImage="../../../assets/image-placeholder.jpg" cardDate="January 11, 2002"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"></app-card>
  </div>
</div>

<div class="bottom-cards">
  <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
    mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
    mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
  <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
    mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
    mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
  <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
    mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
    mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
  <app-main-card mainCardImage="../../../assets/image-placeholder.jpg" mainCardDate="January 11, 2002"
    mainCardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit arum ullam animi accusantium"
    mainCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste tempora totam accusamus praesentium quae impedit, laborum autem, pariatur eaque mollitia vitae eos enim dolores ipsa dolorum corporis explicabo, magnam animi."></app-main-card>
</div>