<div>
  <app-menu-title></app-menu-title>
</div>

<div class="articles">
  <div class="articles__main">
    <app-main-card [mainId]=mainCardData[0].id mainCardImage="{{mainCardData[0].image}}" mainCardDate="{{mainCardData[0].date}}" mainCardTitle="{{mainCardData[0].title}}" mainCardDescription="{{mainCardData[0].description}}"></app-main-card>
  </div>
  <div class="articles__others">
    <app-card *ngFor="let item of mainCardData" [cardId]=item.id cardImage="{{ item.image }}" cardDate="{{item.date}}" cardTitle="{{item.title}}"></app-card>
  </div>
</div>

<div class="bottom-cards">
  <app-main-card *ngFor="let item of bottomCardData" mainCardImage="{{ item.image }}" mainCardDate="{{item.date}}" mainCardTitle="{{item.title}}" mainCardDescription="{{item.description}}"></app-main-card>
</div>
