<div class="menu-bar">
  <div class="menu-bar__links">
    <div class="menu-bar__icon">
      <img src="../../../favicon.ico" alt="angular icon" />
    </div>

    <div class="menu">
      <ul>
        <li>
          <a href="#">Learn</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Bookmarks</a>
        </li>
        <li>
          <a href="#">UI Kit</a>
        </li>
        <li>
          <a href="#">Lain Nya</a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="social-network">
      <ul>
        <li>
          <img src="../../../favicon.ico" alt="angular icon" />
        </li>
        <li>
          <img src="../../../favicon.ico" alt="angular icon" />
        </li>
        <li>
          <img src="../../../favicon.ico" alt="angular icon" />
        </li>
        <li>
          <img src="../../../favicon.ico" alt="angular icon" />
        </li>
      </ul>
    </div>
  </div>

  <div class="hamburguer-menu">
    <img src="../../../assets/hamburguer-menu.png" alt="hamburguer menu icon" />
  </div>
</div>
