* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --text: #fff;
  --background: #121212;
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.2;
  font-size: 1.2rem;
  scroll-behavior: smooth;
  padding: 0 50px;
}

@media (max-width: 425px) {
  html {
    padding: 0 20px;
  }
}
